/* Autocomplete */
@import "@algolia/autocomplete-theme-classic";

/* InstantSearch widgets */
@import "@algolia/react-instantsearch-widget-loadmore-with-progressbar/dist/style.css";
@import "@algolia/react-instantsearch-widget-color-refinement-list/dist/style.css";
@import "./widgets/*.css";

/* Base */
@import "tailwindcss/base";
@import "./base.css";

/* Components */
@import "tailwindcss/components";
@import "./components/*.css";
@import "../../../components/**/*.css";

/* Utilities */
@import "tailwindcss/utilities";
@import "./utilities.css";




/*---------------------------------*/
/*media query filter catalog*/
/*---------------------------------*/

/* css filter */
/* form.ais-SearchBox-form {
  display: none;
} */

input.py-\[0\.79rem\].xl\:px-5.px-5.xl\:w-2\/5.w-11\/12.border-\[0\.1px\].focus\:outline-none {
  border-style: solid;
  border-color: #cfcfcf;
}

form.ais-RangeInput-form input {
  margin-top: 10px;
  outline: none;
  padding: 0.5rem;
  border: solid 1px #7d7d7d;
  margin-left: 15px;
  margin-right: 5px;
  border-radius: 4px;
}


button.ais-CurrentRefinements-delete {
  padding: 0.3rem;
  width: 1.8rem;
  /* background-color: #000; */
  margin: 10px;
  /* color: #fff; */
  border-radius: 100%;
  /* width: 5rem; */
  /* height: 5rem; */
}
span.ais-CurrentRefinements-label {
  font-weight: bold;
}

ul.ais-CurrentRefinements-list {
  display: flex;
  font-size: 1rem;
}
.Container {
  display: grid;
  align-items: flex-start;
  grid-template-columns: minmax(min-content, 200px) 1fr;
  gap: 0.5rem;
}

.Search {
  display: grid;
  gap: 0.5rem;
}

.Search-header {
  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr auto auto auto;
  gap: 0.5rem;
}

.CurrentRefinements {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5em;
}

.Hit-label {
  flex: 1;
  margin-right: 1rem;
}

.Hit-price {
  color: lightslategray;
}

.Pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin: 0 auto;
}

.ais-CurrentRefinements-label {
  text-transform: capitalize;
}

.ais-PoweredBy {
  margin-top: 0.5rem;
}

.ais-PoweredBy-logo {
  display: none;
}
.ais-Breadcrumb.ais-Breadcrumb--noRefinement {
  display: none;
}


/* ----------------- */
.Tabs-header {
  display: flex;
}

.Tabs-title {
  padding: 0 1rem;
  flex: 1;
  font-family: inherit;
  font-size: 0.875rem;
  color: #23263b;
  background: linear-gradient(-180deg, #fff, #fcfcfd);
  border: 1px solid #d6d6e7;
  box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
}

.Tabs-title:first-child {
  border-radius: 3px 0 0 3px;
}

.Tabs-title:last-child {
  border-radius: 0 3px 3px 0;
}

.Tabs-title:hover {
  background: linear-gradient(-180deg, #fff, #f5f5fa);
}

.Tabs-title + .Tabs-title {
  margin-left: -1px;
}

.Tabs-title--active {
  font-weight: bold;
  box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 40%),
    inset 0 1px 1px 0 rgb(119 122 175 / 40%), 0 1px 0 0 rgb(35 38 59 / 5%);
  z-index: 1;
}

.Tabs-list {
  margin-top: 1rem;
}

/*---------------------------------*/
/**/
/*---------------------------------*/


@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
  .ais-Panel {
    padding-top: 1rem;
}

ol.ais-InfiniteHits-list{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
  
  }

}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  ol.ais-InfiniteHits-list{

  
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 5rem;
    
  }
  .ais-Panel{
  
 

    padding: 0.5rem;

  }

}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */


  ol.ais-InfiniteHits-list{


    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  .ais-Panel{


    padding: 1rem;

  }

}



/*----------------------------*/


#react-sidebar .sidebar-backdrop {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1011;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -ms-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
    background-color: rgba(41, 48, 59, 0.35);
  }
  
  #react-sidebar .sidebar-backdrop.show {
    visibility: visible;
    opacity: 1;
  }
  
  #react-sidebar .sidebar-main {
    width: 285px;
    height: 100vh;
    background-color: #fff;
    z-index: 1012;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transform: translateX(-300px);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    overflow-y: auto;
  }
  
  #react-sidebar .sidebar-main.second {
    transform: translateX(600px);
    z-index: 1013;
    visibility: hidden;
  }
  
  #react-sidebar .sidebar-main.show {
    transform: translateX(0px);
    visibility: visible;
  }
  
  #react-sidebar .sidebar-main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #react-sidebar .sidebar-header {
    background-color: #000;
    font-size: 1.6rem;
    font-family: inherit;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0.8rem;
    color: #fff;
 
  }
  
  #react-sidebar .section-heading {
    font-size: 0.78rem;
    font-weight: 700;
    color: #3c3b37;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
  
    /* font-weight: 700;
    color: #3c3b37;
    padding: 0.5rem 0.8rem;
    font-size: 12px;
    color: #686f7a;
    text-transform: uppercase;
    letter-spacing: 1px; */
  }
  
  #react-sidebar .section-heading .text {
    margin-left: 6px;
  }
  
  #react-sidebar .section-heading.border {
    border-top: 1px solid #dcdacb;
    margin-top: 0.8rem;
  }
  
  .sidebar-main-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar-main-content ul li {
    padding: 0.5rem 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3c3b37;
  }
  .sidebar-main-content ul li:hover {
    cursor: pointer;
    background-color: #f3f3f3;
  }
  
  .sidebar-main-content ul li.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
  
  .sidebar-main-content ul li i {
    margin-right: 8px;
    font-size: 17px;
  }
  
  .sidebar-main-content ul a {
    color: inherit;
    text-decoration: initial;
  }
  
  .first-back-btn {
    color: #000;
    background-color: #f2f3f5;
    display: flex ;
    justify-items: center;
    align-items: center;
    padding: 1.2rem;
    font-weight: 800;
  }
  
  .first-back-btn span{
    margin-left: 0.3rem;
  }
  .second-back-btn span{
    margin-left: 0.5rem;
  }
  
  .first-back-btn:hover,
  .second-back-btn:hover {
    cursor: pointer;
  }
  
  .first-back-btn i,
  .second-back-btn i {
    margin-right: 8px;
  }
  
  .second-back-btn {
    background-color: #fff;
    border-bottom: 1px solid #dcdacb;
    margin-bottom: 0.8rem;
    color: #000;
    padding: 1rem;

    display: flex ;
    justify-items: center;
    align-items: center;

    font-weight: 600;
  }
  
  .section-seprator {
    margin-left: 16px;
    margin-right: 16px;
    /* margin: 0; */
    background-color: #dedfe0;
    box-sizing: content-box;
    height: 0;
    /* margin-top: 21px; */
    /* margin-bottom: 21px; */
    border: 0;
    border-top: 1px solid #e8e9eb;
  }
  
  .flex-align-center {
    display: flex;
    align-items: center;
  }



  /* remove arrow input number */

  input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 




/* search */
  .absolute.\32 xl\:bg-transparent.xl\:bg-transparent.bg-white.right-0.w-full.xl\:w-2\/5.xl\:mt-2.xl\:-z-dev {
    width: 26%;
    margin-top: 0.8rem;
  }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
/* loading maps */



/* ------------------ */
#img-zoomer-box {
  max-width: 650px;
  height: auto;
  position: relative;
  margin: 10px auto;
  
}



#img-zoomer-box:hover, #img-zoomer-box:active {
  cursor: zoom-in;
  display: block;
}

#img-zoomer-box:hover #img-2, #img-zoomer-box:active #img-2 {
  opacity: 1;
  
}
#img-2 {
 
  width: 340px;
  height: 340px;
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
  pointer-events: none;
  position: absolute;
  opacity: 0;
  border: 4px solid whitesmoke;
  z-index: 99;
  border-radius: 100%;

  transition: opacity .2s;

}


button.ais-InfiniteHits-loadMore.ais-InfiniteHits-loadMore--disabled {
  display: none;
}