@import "./themes/default/_globals.css";
.aa-InputWrapperSuffix{
    display: none;
}


.absolute.inset-0.w-full.h-full.pointer-events-auto.z-\[9995\].bg-black.bg-opacity-60.backdrop-blur-sm {
    height: 100vh;
}

/* header.absolute.inset-0.flex.flex-col.justify-center.p-6.text-shadow-medium.gap-2.laptop\:gap-0.laptop\:flex-row.laptop\:items-center.laptop\:p-12 {
    display: none;
} */